/* Style Overrides by Arjun */

/* options:
  note: always use unitless values for line-height!
  corbel 15px, lh of 1.35 (~19px) = 34px
  or lucida grande 13 or 14 with 1.5
*/

body {
  font-family: Corbel, "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif !important;
  font-size: 15px;
  line-height: 1.4;
  background: #f6f6f6;
  color: #666;
  text-rendering: optimizelegibility;
  padding-top: 20px; 
}

p {
  font-family: Corbel, "Lucida Grande", "Helvetica Neue", Helvetica, Verdana, sans-serif !important;
  font-size: 15px !important;
  line-height: 1.4;
  margin-bottom: 16px;
}

/* uhh, do _not_ use pre-wrap! */
pre { white-space: pre !important; }

/* code can be in sentences and not be bright red and in an box!! */
code, pre {
  font-family: Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Inconsolata, "Lucida Console", Monaco, "courier new", courier;
  padding: 0 0 0 0 !important;
  color: #666;
  font-size: 96% !important;
  border: none;
  border-radius: 0px;
  word-wrap: normal !important;
}


.highlight pre {
    white-space:pre;
    word-wrap:normal;
    overflow-x: auto;
}


/* in Markdown-land a single _ or * is an <em>, __ or ** is <strong> */
em {
  font-style: normal;
  font-weight: bold;
  color: #666;
}

strong {
  font-style: normal;
  font-weight: bold;
  font-size: 105%;
  color: red;
}


/* this is the page's <h1> "headline", we keep it large */
#section1 {
  font-size: 28px;
  letter-spacing: -1px;
  margin: 25px 0 0 0;
}

/* Adjust header sizes */
h1 { color: #696969; font-size: 24px; margin-top: 12px; }
h2 { color: #696969; font-size: 20px; margin-top: 36px; }
h3 { color: #5f5f5f; font-size: 14px; font-variant: small-caps; text-transform: uppercase; margin-top: 22px;}

#left_nav {
  margin-top: 28px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#smart_top_logo {
  display: block;
  margin: 0 auto 14px auto;
}

.nav { font-size: 14px !important; }

footer {
  margin-top: 30px;
  width:100%;
  text-align:center;
  color: #999;
  font-size: smaller;
}

.simple_box {
  margin: 35px;
  border: 4px solid #ccc;
  padding: 15px;
}

.simple_small_box {
  margin: 35px;
  border: 2px solid #ddd;
  padding: 10px;
}

.red_box {
  margin: 35px;
  border: 4px solid red;
  padding: 15px;
}

.table caption { font-style: italic; }

.highlight pre {
  border-left: 2px solid #ddd;
  border-radius: 0px;
}

.nav-tabs {
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: smaller !important;
  border-bottom: none !important;
}

.nav-tabs > li {
  margin-left: 20px;
}

.nav-tabs > li:first-child {
  margin-left: 0px
  width: 140px;
}


.nav-tabs > li > a {
  padding: 3px 0 0 0;
  border: none;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: inherit;
  border: none;
  padding: 3px 0 0 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #555555;
  background-color: inherit;
  border: none !important;
  border-bottom-color: transparent;
  cursor: default;
}

.rdf_xml, .n_triples, .turtle, .json_ld {
  display: none;
}
.rdf_xml.active, .n_triples.active, .turtle.active, .json_ld.active {
  display: block;
}
